@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Client</h1>
    <p>Perditesime  <a asp-area="" asp-page="/Client/Index">Klient</a>.</p>
    <p>Perditesime  <a asp-area="" asp-page="/Project/showProject">Projekte</a>.</p>
    <p>Perditesime  <a asp-area="" asp-page="/Company/showCompany">Kompania</a>.</p>
</div>